body header.transparent-header .navbar-expand-lg {
  background-color: #030e18;
}

body header.transparent-header .navbar-expand-lg:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(10% 0%, 100% 0, 100% 50%, 0% 50%);
  background-color: #016cd3;
  width: 25vw;
  height: 150px;
}

header .navbar-expand-lg .navbar-nav {
  align-items: center;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.ai-bg .nav-link::after {
  content: "AI";
  position: absolute;
  left: 0;
  top: -5;
  width: 140px;
  height: 70px;
  background-image: url("/ai-animation.gif");
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation: slide-left 3s;
  border: none;
  z-index: 0;
  color: #fff;
  padding: 24px 24px 24px 46px;
}

.desktopNav {
  border: 2px solid black;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.spacer {
  width: 7vw;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.quote-btn .nav-link:hover .arrow {
  right: -6px;
  top: -4px;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.quote-btn .nav-link .arrow {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("/assets/images/arrow-fast.svg");
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: relative;
  right: 0;
  top: 0;
}

/* 
"#########################
Menu Child CSS 
####################
*/
header .mega-dropdown {
  position: static !important;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
}

header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu {
  padding: 30px 0;
  width: 100%;
  box-shadow: none;
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0px 0px 20px 20px;
  border-radius: 0 0 20px 20px;
  border: none;
  background-color: #fff;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .bdr {
  border-left: 1px solid #ededed;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .nav-tabs {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 0 0;
  border-bottom: none;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .nav-tabs .nav-item .nav-link {
  text-transform: none;
  padding: 12px 15px 12px 80px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  position: relative;
  font-weight: 700;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;

  border-radius: 10px;
  font-family: ChivoSemiBold;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .nav-tabs .nav-item .nav-link p {
  font-size: 12px;
  line-height: 16px;
  color: #83888c;
  margin-bottom: 0;
  font-family: ChivoLight;
}

header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu .sub-menu li {
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  position: relative;
  border-left: 3px solid transparent;
}
header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu .sub-menu li a .arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 15px;
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a {
  position: relative;
  font-family: ChivoBold;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow {
  position: absolute;
  top: -2px;
  left: 110%;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}
body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow span {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #016cd3;
  border-right: 3px solid #016cd3;
  transform: rotate(45deg);
  margin: -7px;
  animation: 2s infinite animate;
}
body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translateY(-9px);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translateY(0);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translateY(8px);
  }
}

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a:hover .arrow span {
  border-bottom-color: #016cd3;
  border-right-color: #016cd3;
}



/* 
"#########################
HEADER RESPONSIVE 
####################
*/
@media screen and (max-width: 1599px) {
  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.spacer {
    width: 2vw;
  }

  header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu {
    max-width: 1150px;
  }
}

@media screen and (max-width: 1499px) {
  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.spacer {
    width: 3vw;
  }

  header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu {
    max-width: 1150px;
  }

  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .menu-scroll {
    max-height: 500px;
  }
  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content {
    max-height: 500px;
}
}

@media screen and (max-width: 1399px) {
  .h3, h3 {
    font-size: 1.3rem;
    line-height: normal;
}
  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item.spacer {
    width: 4vw;
  }

  header .navbar-expand-lg .navbar-nav .dropdown.mega-dropdown .dropdown-menu.mega-dropdown-menu {
    max-width: 1160px;
  }

  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .menu-scroll {
    min-height: 400px;
    max-height: 400px;
  }
  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content {
    max-height: 400px;
}

  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .nav-tabs .nav-item .nav-link p {
    line-height: 14px;
  }

  body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 {
    font-size: 20px;
  }

body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow {
  left: 100%;
  top: -1px;
}
/* body header.transparent-header .navbar-expand-lg .navbar-nav .nav-item .mega-dropdown-menu .tab-content .tab-pane .sub-menu li h3 a .arrow span {
  margin: -5px;
} */
}
@media (min-width: 1200px) {
  .h3, h3 {
      font-size: 1.75rem;
  }
}